__Question:__
- Below, there is a query that creates a view. Run the query.
- Using the view, write a query that produces a table of the form ```(productCode, productName)``` for products that no customer in Asia has ordered.
- For this questions purposes, the Asian countries are:
    - Japan
    - Singapore
    - Philipines
    - Hong King
- <u>You must not use a JOIN.</u>

In [43]:
#
# Create the view
#
%sql create or replace view orders_all as \
    select * from orders join orderdetails using(orderNumber)

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

__Answer:__

In [10]:
%%sql
USE classicmodels;
SELECT DISTINCT
    productCode,
    productName 
FROM products
WHERE 
    productCode NOT IN
    (SELECT 
         productCode 
     FROM (SELECT 
               productCode,
               (SELECT 
                    country 
                FROM customers 
                WHERE 
                    customers.customerNumber = orders_all.customerNumber) AS C
           FROM orders_all) AS A
     WHERE 
         C IN ('Japan','Singapore','Philippines','Hong Kong')
    )
ORDER BY productCode

 * mysql+pymysql://root:***@localhost
0 rows affected.
15 rows affected.

[('S10_1678', '1969 Harley Davidson Ultimate Chopper'),
 ('S10_4757', '1972 Alfa Romeo GTA'),
 ('S12_2823', '2002 Suzuki XREO'),
 ('S18_1342', '1937 Lincoln Berline'),
 ('S18_1367', '1936 Mercedes-Benz 500K Special Roadster'),
 ('S18_2795', '1928 Mercedes-Benz SSK'),
 ('S18_2870', '1999 Indy 500 Monte Carlo SS'),
 ('S18_3029', '1999 Yamaha Speed Boat'),
 ('S18_3233', '1985 Toyota Supra'),
 ('S18_3320', '1917 Maxwell Touring Car'),
 ('S18_3856', '1941 Chevrolet Special Deluxe Cabriolet'),
 ('S24_2022', '1938 Cadillac V-16 Presidential Limousine'),
 ('S24_2972', '1982 Lamborghini Diablo'),
 ('S24_4258', '1936 Chrysler Airflow'),
 ('S700_3505', 'The Titanic')]